.blackDiv {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 35vh 0vh;
}

.spinner {
    border: 5px solid yellow; 
    border-top: 5px solid black; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.datePikerCreateShift {
    background-color: black;
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: white;
    border: none;
}

.datePikerShiftsList {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: black;
    border: none;
    font-weight: bold;
}

.shiftsListContainer {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5vh 0vh 5vh 0vh;
    &__title {
        text-align: center;
        font-size: 50px;
        color: white;
    }
    &__selects {
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        border-top: 0.3vh solid white;
        padding: 2vh 0vh;
        &__labelSelect {
            width: 100%;
            height: auto;
            @include disFC();
            gap: 2vh;
            &__label {
                font-size: 25px;
                color: white;
            }
            &__select {
                width: 30%;
                font-size: 25px;
                border-radius: 1vh;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
            &__selectDays {
                width: 35%;
                font-size: 25px;
                border-radius: 1vh;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__shiftsList {
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 0.3vh solid white;
        padding: 2vh 0vh;
        &__header {
            width: 70%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            color: white;
            font-size: 30px;
            padding: 1vh 0vh;
        }
    }
}

@media (max-width: 480px) {
.shiftsListContainer {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0vh 0vh 2vh 0vh;
    &__title {
        text-align: center;
        font-size: 40px;
        color: white;
    }
    &__selects {
        background-color: black;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 0.3vh solid white;
        padding: 2vh 0vh;
        &__labelSelect {
            width: 100%;
            height: auto;
            @include disFC();
            gap: 0.5vh;
            &__label {
                font-size: 18px;
                color: white;
            }
            &__select {
                width: 60%;
                font-size: 25px;
                border-radius: 1vh;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
            &__selectDays {
                width: 40%;
                font-size: 25px;
                border-radius: 1vh;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__shiftsList {
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 0.3vh solid white;
        border-bottom: 0.3vh solid white;
        padding: 1vh 0vh 0vh 0vh;
        overflow: auto;
        &__header {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            color: white;
            padding: 0vh 0vh 0vh 0vh;
            &__label {
                width: 20vh;
                @include disFC();
                font-size: 20px;
            }
        }
    }
}
.datePikerCreateShift {
    background-color: black;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: none;
    border-top: 0.3vh solid white;
    padding-top: 1.5vh;
}
}