* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

.singUpContainer {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: black;
}
.singUpContainer__credentials {
  background-color: white;
  width: 50%;
  height: auto;
  padding: 5vh 4vh;
  border-radius: 5vh;
}
.singUpContainer__credentials__phrase {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singUpContainer__credentials__phrase__title {
  font-size: 60px;
  letter-spacing: 1vh;
}
.singUpContainer__credentials__form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.singUpContainer__credentials__form__label-input {
  display: flex;
  flex-direction: column;
}
.singUpContainer__credentials__form__label-input__label {
  font-size: 25px;
}
.singUpContainer__credentials__form__label-input__input {
  width: 70%;
  height: 35px;
}
.singUpContainer__credentials__form__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 2vh;
}
.singUpContainer__credentials__form__btn__prop {
  background-color: black;
  width: 70%;
  height: 40px;
  font-size: 20px;
  color: yellow;
  border-radius: 5vh;
}

.loginContainer {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: black;
}
.loginContainer__credentials {
  background-color: white;
  width: 50%;
  height: auto;
  padding: 5vh 4vh;
  border-radius: 5vh;
}
.loginContainer__credentials__phrase {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer__credentials__phrase__title {
  font-size: 60px;
  letter-spacing: 1vh;
}
.loginContainer__credentials__form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.loginContainer__credentials__form__label-input {
  display: flex;
  flex-direction: column;
}
.loginContainer__credentials__form__label-input__label {
  font-size: 25px;
}
.loginContainer__credentials__form__label-input__input {
  width: 70%;
  height: 35px;
}
.loginContainer__credentials__form__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 2vh;
}
.loginContainer__credentials__form__btn__prop {
  background-color: black;
  width: 70%;
  height: 40px;
  font-size: 20px;
  color: yellow;
  border-radius: 5vh;
}

.navBarContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5vh;
  border-bottom: 0.5vh solid yellow;
}
.navBarContainer__logo-title {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navBarContainer__logo-title__logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBarContainer__logo-title__logo__prop {
  width: 25%;
  height: auto;
}
.navBarContainer__logo-title__title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBarContainer__logo-title__title__prop {
  text-decoration: none;
  color: white;
  font-size: 40px;
  color: white;
}
.navBarContainer__phrase-btns {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.navBarContainer__phrase-btns__phrase {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBarContainer__phrase-btns__phrase__prop {
  color: white;
  font-size: 20px;
}
.navBarContainer__phrase-btns__btns {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 17px;
  color: white;
}
.navBarContainer__phrase-btns__btns__prop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.navBarContainer__phrase-btns__btns__prop:hover {
  background-color: yellow;
  color: black;
}
.navBarContainer__phrase-btns__btns__prop__line {
  border-top: 0.3vh solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.navBarContainer__phrase-btns__btns__prop__line:hover {
  background-color: yellow;
  color: black;
}

.footerContainer {
  background-color: black;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 0.5vh solid yellow;
}
.footerContainer__social-networks {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer__social-networks__logo-link {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.footerContainer__social-networks__logo-link__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.footerContainer__social-networks__logo-link__link:hover {
  color: yellow;
}
.footerContainer__title-copyrigth {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}
.footerContainer__title-copyrigth__title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer__title-copyrigth__title__prop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.footerContainer__title-copyrigth__title__prop__spacing {
  letter-spacing: 0.5vh;
}
.footerContainer__title-copyrigth__copyrigth {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer__title-copyrigth__copyrigth__prop {
  font-size: 12px;
  color: white;
}

.warningLogin {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}
.warningLogin__prop {
  color: white;
}
.warningLogin__link {
  text-decoration: none;
  color: white;
}
.warningLogin__link:hover {
  color: yellow;
}

.carouselContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContainer__prop {
  width: 80%;
  pointer-events: none;
}

.carouselContainerIsLoggedIn {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 0vh 4vh 0vh;
}
.carouselContainerIsLoggedIn__prop {
  width: 80%;
}

.shiftsContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shiftsContainer__form {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0vh 0vh 3vh 0vh;
}
.shiftsContainer__form__phrase {
  color: white;
  padding-bottom: 2vh;
}
.shiftsContainer__form__credentials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shiftsContainer__form__credentials__label-input {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10vh;
  padding: 2vh 0vh;
}
.shiftsContainer__form__credentials__label-input__label {
  font-size: 30px;
  color: white;
}
.shiftsContainer__form__credentials__label-input__input {
  width: 100%;
  height: 5vh;
}
.shiftsContainer__form__credentials__label-input__input__precio {
  background-color: black;
  border: none;
  font-size: 25px;
  color: white;
}
.shiftsContainer__form__credentials__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.shiftsContainer__form__credentials__btn__prop {
  background-color: black;
  width: 70%;
  height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 5vh;
  border: 0.3vh solid yellow;
}
.shiftsContainer__form__credentials__btn__prop:hover {
  background-color: white;
  color: black;
  border: 0.3vh solid yellow;
}

.shiftsContainerIsLoggedIn {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shiftsContainerIsLoggedIn__form {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh 0vh 5vh 0vh;
}
.shiftsContainerIsLoggedIn__form__phrase {
  color: white;
  padding-bottom: 2vh;
}
.shiftsContainerIsLoggedIn__form__credentials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shiftsContainerIsLoggedIn__form__credentials__label-input {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10vh;
  padding: 2vh 0vh;
}
.shiftsContainerIsLoggedIn__form__credentials__label-input__label {
  font-size: 30px;
  color: white;
}
.shiftsContainerIsLoggedIn__form__credentials__label-input__input {
  width: 100%;
  height: 5vh;
}
.shiftsContainerIsLoggedIn__form__credentials__label-input__input__precio {
  background-color: black;
  border: none;
  font-size: 25px;
  color: white;
}
.shiftsContainerIsLoggedIn__form__credentials__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.shiftsContainerIsLoggedIn__form__credentials__btn__prop {
  background-color: black;
  width: 70%;
  height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 5vh;
  border: 0.3vh solid yellow;
}
.shiftsContainerIsLoggedIn__form__credentials__btn__prop:hover {
  background-color: white;
  color: black;
  border: 0.3vh solid yellow;
}

.datePiker {
  width: 100%;
  height: 5vh;
}

.itemCreateShift {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemCreateShift__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCreateShift__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemCreateShift__inputSchedule {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCreateShift__inputSchedule ::-moz-placeholder {
  color: white;
}
.itemCreateShift__inputSchedule ::placeholder {
  color: white;
}
.itemCreateShift__inputSchedule__prop {
  width: 20%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemCreateShift__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemCreateShift__btns__btn {
  background-color: white;
  width: 60%;
  height: auto;
  border-radius: 1vh;
}

.itemShift {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemShift__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemShift__input ::-moz-placeholder {
  color: white;
}
.itemShift__input ::placeholder {
  color: white;
}
.itemShift__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemShift__inputSchedule {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
}
.itemShift__inputSchedule__prop {
  font-size: 20px;
}
.itemShift__label {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
}
.itemShift__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemShift__btns__btn {
  background-color: white;
  width: 45%;
  height: auto;
  border-radius: 1vh;
}

.blackDiv {
  background-color: black;
  width: 100%;
  height: auto;
  padding: 35vh 0vh;
}

.spinner {
  border: 5px solid yellow;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.datePikerCreateShift {
  background-color: black;
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: white;
  border: none;
}

.datePikerShiftsList {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: black;
  border: none;
  font-weight: bold;
}

.shiftsListContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 0vh 5vh 0vh;
}
.shiftsListContainer__title {
  text-align: center;
  font-size: 50px;
  color: white;
}
.shiftsListContainer__selects {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.shiftsListContainer__selects__labelSelect {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.shiftsListContainer__selects__labelSelect__label {
  font-size: 25px;
  color: white;
}
.shiftsListContainer__selects__labelSelect__select {
  width: 30%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.shiftsListContainer__selects__labelSelect__select:hover {
  cursor: pointer;
}
.shiftsListContainer__selects__labelSelect__selectDays {
  width: 35%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.shiftsListContainer__selects__labelSelect__selectDays:hover {
  cursor: pointer;
}
.shiftsListContainer__shiftsList {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.shiftsListContainer__shiftsList__header {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 1vh 0vh;
}

.logOut {
  position: absolute;
  top: 14.5vh;
  right: 3vh;
  color: white;
  text-decoration: underline;
  background-color: black;
}

.aboutContainer {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutContainer__descriptionContainer {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 8vh 4vh;
  color: white;
  text-align: justify;
}

.aboutContainer__descriptionContainerIsNotLogin {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 2vh 0vh 4vh 0vh;
  color: white;
  text-align: justify;
}

.cutsContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cutsContainer__cuts {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0vh 2vh 0vh;
}

.partnersContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersContainer__form {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0vh 6vh 0vh;
}
.partnersContainer__form__phrase {
  color: white;
  padding-bottom: 2vh;
}
.partnersContainer__form__credentials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersContainer__form__credentials__label-input {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10vh;
  padding: 2vh 0vh;
}
.partnersContainer__form__credentials__label-input__label {
  font-size: 30px;
  color: white;
}
.partnersContainer__form__credentials__label-input__input {
  width: 100%;
}
.partnersContainer__form__credentials__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.partnersContainer__form__credentials__btn__prop {
  background-color: black;
  width: 70%;
  height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 5vh;
  border: 0.3vh solid yellow;
}
.partnersContainer__form__credentials__btn__prop:hover {
  background-color: white;
  color: black;
  border: 0.3vh solid yellow;
}

.partnersContainerIsLoggedIn {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersContainerIsLoggedIn__form {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6vh 0vh 8vh 0vh;
}
.partnersContainerIsLoggedIn__form__phrase {
  color: white;
  padding-bottom: 2vh;
}
.partnersContainerIsLoggedIn__form__credentials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersContainerIsLoggedIn__form__credentials__label-input {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10vh;
  padding: 2vh 0vh;
}
.partnersContainerIsLoggedIn__form__credentials__label-input__label {
  font-size: 30px;
  color: white;
}
.partnersContainerIsLoggedIn__form__credentials__label-input__input {
  width: 100%;
}
.partnersContainerIsLoggedIn__form__credentials__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.partnersContainerIsLoggedIn__form__credentials__btn__prop {
  background-color: black;
  width: 70%;
  height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 5vh;
  border: 0.3vh solid yellow;
}
.partnersContainerIsLoggedIn__form__credentials__btn__prop:hover {
  background-color: white;
  color: black;
  border: 0.3vh solid yellow;
}

.partnersListContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2vh 0vh 2vh 0vh;
}
.partnersListContainer__title {
  text-align: center;
  font-size: 50px;
  color: white;
}
.partnersListContainer__inputFilteredPartners {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0vh 3vh 0vh;
}
.partnersListContainer__inputFilteredPartners ::-moz-placeholder {
  color: black;
}
.partnersListContainer__inputFilteredPartners ::placeholder {
  color: black;
}
.partnersListContainer__inputFilteredPartners__prop {
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: 30px;
  border-radius: 2vh;
}
.partnersListContainer__selects {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.partnersListContainer__selects__labelSelect {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.partnersListContainer__selects__labelSelect__label {
  font-size: 25px;
  color: white;
}
.partnersListContainer__selects__labelSelect__select {
  width: 30%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.partnersListContainer__selects__labelSelect__select:hover {
  cursor: pointer;
}
.partnersListContainer__selects__labelSelect__selectDays {
  width: 35%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.partnersListContainer__selects__labelSelect__selectDays:hover {
  cursor: pointer;
}
.partnersListContainer__partnersList {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.partnersListContainer__partnersList__header {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 1vh 0vh;
}

.itemCreatePartner {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemCreatePartner__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCreatePartner__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemCreatePartner__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemCreatePartner__btns__btn {
  background-color: white;
  width: 80%;
  height: auto;
  border-radius: 1vh;
  padding: 0.5vh;
}

.itemPartner {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemPartner__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.itemPartner__input ::-moz-placeholder {
  color: white;
}
.itemPartner__input ::placeholder {
  color: white;
}
.itemPartner__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemPartner__label {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
}
.itemPartner__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemPartner__btns__btn {
  background-color: white;
  width: 45%;
  height: auto;
  border-radius: 1vh;
}

.providersListContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2vh 0vh 2vh 0vh;
}
.providersListContainer__title {
  text-align: center;
  font-size: 50px;
  color: white;
}
.providersListContainer__inputFilteredProviders {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0vh 3vh 0vh;
}
.providersListContainer__inputFilteredProviders ::-moz-placeholder {
  color: black;
}
.providersListContainer__inputFilteredProviders ::placeholder {
  color: black;
}
.providersListContainer__inputFilteredProviders__prop {
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: 30px;
  border-radius: 2vh;
}
.providersListContainer__selects {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.providersListContainer__selects__labelSelect {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.providersListContainer__selects__labelSelect__label {
  font-size: 25px;
  color: white;
}
.providersListContainer__selects__labelSelect__select {
  width: 30%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.providersListContainer__selects__labelSelect__select:hover {
  cursor: pointer;
}
.providersListContainer__selects__labelSelect__selectDays {
  width: 35%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.providersListContainer__selects__labelSelect__selectDays:hover {
  cursor: pointer;
}
.providersListContainer__providersList {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.providersListContainer__providersList__header {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 1vh 0vh;
}

.itemCreateProvider {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemCreateProvider__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCreateProvider__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemCreateProvider__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemCreateProvider__btns__btn {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 1vh;
  padding: 0.5vh;
}

.itemProvider {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemProvider__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemProvider__input ::-moz-placeholder {
  color: white;
}
.itemProvider__input ::placeholder {
  color: white;
}
.itemProvider__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemProvider__label {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
}
.itemProvider__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemProvider__btns__btn {
  background-color: white;
  width: 45%;
  height: auto;
  border-radius: 1vh;
}

.productsListContainer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2vh 0vh 2vh 0vh;
}
.productsListContainer__title {
  text-align: center;
  font-size: 50px;
  color: white;
}
.productsListContainer__inputFilteredProducts {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0vh 3vh 0vh;
}
.productsListContainer__inputFilteredProducts ::-moz-placeholder {
  color: black;
}
.productsListContainer__inputFilteredProducts ::placeholder {
  color: black;
}
.productsListContainer__inputFilteredProducts__prop {
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: 30px;
  border-radius: 2vh;
}
.productsListContainer__selects {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.productsListContainer__selects__labelSelect {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.productsListContainer__selects__labelSelect__label {
  font-size: 25px;
  color: white;
}
.productsListContainer__selects__labelSelect__select {
  width: 30%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.productsListContainer__selects__labelSelect__select:hover {
  cursor: pointer;
}
.productsListContainer__selects__labelSelect__selectDays {
  width: 35%;
  font-size: 25px;
  border-radius: 1vh;
  text-align: center;
}
.productsListContainer__selects__labelSelect__selectDays:hover {
  cursor: pointer;
}
.productsListContainer__productsList {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 0.3vh solid white;
  padding: 2vh 0vh;
}
.productsListContainer__productsList__header {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 1vh 0vh;
}

.itemCreateProduct {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemCreateProduct__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCreateProduct__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemCreateProduct__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemCreateProduct__btns__btn {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 1vh;
  padding: 0.5vh;
}

.itemProduct {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border-top: 0.3vh solid white;
  padding: 1vh 0vh;
}
.itemProduct__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemProduct__input ::-moz-placeholder {
  color: white;
}
.itemProduct__input ::placeholder {
  color: white;
}
.itemProduct__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}
.itemProduct__label {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
}
.itemProduct__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.itemProduct__btns__btn {
  background-color: white;
  width: 45%;
  height: auto;
  border-radius: 1vh;
}

.hMenu {
  width: 7vh;
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 3%;
  left: 2%;
}
.hMenu:hover {
  cursor: pointer;
}
.hMenu__line {
  background-color: yellow;
  width: 100%;
  height: 1vh;
  border-radius: 1vh;
}

.menuOptions {
  background-color: black;
  width: 30vh;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 1;
  padding: 2vh 1vh 1vh 1vh;
  border-radius: 2vh;
  border: 0.5vh solid yellow;
}
.menuOptions__item {
  color: white;
  text-decoration: none;
  z-index: 2;
}
.menuOptions__item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.menuOptions__closeW {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.menuOptions__closeW__btn {
  color: white;
}
.menuOptions__closeW__btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shiftModalContainer {
  background-color: black;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5vh solid white;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh 2vh;
  z-index: 1;
}
.shiftModalContainer__btnCloseModal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.shiftModalContainer__btnCloseModal__prop {
  color: white;
}
.shiftModalContainer__header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-bottom: 1vh;
}
.shiftModalContainer__itemShift {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: black;
  border-top: 0.3vh solid white;
  padding: 1vh;
  border-radius: 2vh;
}
.shiftModalContainer__itemShift__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shiftModalContainer__itemShift__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: black;
  font-weight: bold;
}
.shiftModalContainer__itemShift__inputSchedule {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shiftModalContainer__itemShift__inputSchedule ::-moz-placeholder {
  color: black;
}
.shiftModalContainer__itemShift__inputSchedule ::placeholder {
  color: black;
}
.shiftModalContainer__itemShift__inputSchedule__prop {
  width: 20%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: black;
  font-weight: bold;
}
.shiftModalContainer__itemShift__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.shiftModalContainer__itemShift__btns__btn {
  background-color: black;
  color: white;
  width: 60%;
  height: auto;
  border-radius: 1vh;
}

.confirmationDeleteBtnModalContainer {
  background-color: black;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5vh solid white;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh 2vh;
  z-index: 2;
  gap: 1vh;
}
.confirmationDeleteBtnModalContainer__ask {
  font-size: 25px;
  color: white;
}
.confirmationDeleteBtnModalContainer__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
.confirmationDeleteBtnModalContainer__btns__prop {
  width: 20%;
  border-radius: 2vh;
}

.partnersModalContainer {
  background-color: black;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5vh solid white;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh 2vh;
  z-index: 1;
}
.partnersModalContainer__btnCloseModal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.partnersModalContainer__btnCloseModal__prop {
  color: white;
}
.partnersModalContainer__header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-bottom: 1vh;
}
.partnersModalContainer__itemPartner {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: black;
  border: 0.3vh solid white;
  padding: 1vh;
  border-radius: 2vh;
}
.partnersModalContainer__itemPartner__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersModalContainer__itemPartner__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: black;
  font-weight: bold;
}
.partnersModalContainer__itemPartner__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.partnersModalContainer__itemPartner__btns__btn {
  background-color: black;
  width: 60%;
  height: auto;
  border-radius: 1vh;
  color: white;
}

.providersModalContainer {
  background-color: black;
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5vh solid white;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh 2vh;
  z-index: 1;
}
.providersModalContainer__btnCloseModal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.providersModalContainer__btnCloseModal__prop {
  color: white;
}
.providersModalContainer__header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-bottom: 1vh;
}
.providersModalContainer__itemProvider {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: black;
  border: 0.3vh solid white;
  padding: 1vh;
  border-radius: 2vh;
}
.providersModalContainer__itemProvider__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.providersModalContainer__itemProvider__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: black;
  font-weight: bold;
}
.providersModalContainer__itemProvider__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.providersModalContainer__itemProvider__btns__btn {
  background-color: black;
  width: 60%;
  height: auto;
  border-radius: 1vh;
  color: white;
}

.productsModalContainer {
  background-color: black;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5vh solid white;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh 2vh;
  z-index: 1;
}
.productsModalContainer__btnCloseModal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.productsModalContainer__btnCloseModal__prop {
  color: white;
}
.productsModalContainer__header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-bottom: 1vh;
}
.productsModalContainer__itemProduct {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  border: 0.3vh solid white;
  padding: 1vh;
  border-radius: 2vh;
}
.productsModalContainer__itemProduct__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsModalContainer__itemProduct__input__prop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: black;
  font-weight: bold;
}
.productsModalContainer__itemProduct__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.productsModalContainer__itemProduct__btns__btn {
  background-color: black;
  width: 60%;
  height: auto;
  border-radius: 1vh;
  color: white;
}

@media (min-width: 1540px) {
  .aboutContainer__descriptionContainer {
    font-size: 30px;
    padding: 10vh 4vh;
  }
  .partnersContainer__form {
    padding: 11vh 0vh;
  }
  .shiftsContainer__form {
    padding: 15vh 0vh;
  }
}/*# sourceMappingURL=main.css.map */