* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
}

@mixin disFC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.warningLogin {
    background-color: black;
    width: 100%;
    height: auto;
    @include disFC();
    padding: 1vh;
    &__prop {
        color: white;
    }
    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            color: yellow;
        }
    }
}

@import "singUp";
@import "logIn";
@import "navBar";
@import "footer";
@import "home";
@import "shifts";
@import "itemShift";
@import "shiftsList";
@import "logOut";
@import "about";
@import "cuts";
@import "partners";
@import "partnersList";
@import "itemPartner";
@import "providersList";
@import "itemProvider";
@import "productsList";
@import "itemProduct";
@import "hMenu";
@import "modal";

@media (max-width: 480px) {
.warningLogin {
    padding-top: 1vh;
    font-size: 15px;
}
}

@media (min-width: 1540px) {
.aboutContainer {
    &__descriptionContainer {
        font-size: 30px;
        padding: 10vh 4vh;
    }
}
.partnersContainer {
    &__form {
        padding: 11vh 0vh;
    }
}    
.shiftsContainer {
    &__form {
        padding: 15vh 0vh;
    }
}    
}